script(src="//cdn.jsdelivr.net/angularjs/1.2.9/angular.min.js")
script(src="//cdn.jsdelivr.net/angularjs/1.2.26/angular-animate.min.js")
script(src="//cdn.jsdelivr.net/bootstrap/3.3.1/js/bootstrap.min.js")
